body{
    background-color: black;
    width: 1000px;
}

#banner{
    background-color: lightgrey;
    display: block;
    width:1000px;
    height: 120px;
    }
    #banner img{
        display: inline-block;
        width:300px;   
    }
    h1{
        display: inline-block;
        text-align: right;
        vertical-align: top;
        width: 690px;
        background-color: lightgrey;
        font-size: 18px;
        margin: 20px 0px;
        margin-right: 5px;
    }
    ul{
        margin: 0px;
        border-left: 2px solid grey;
        padding-left: 0px;
        margin-left: 40px;
    }
    ul li{
        text-decoration: none;
        display: inline-block;
        border-right: 2px solid grey;
        padding: 8px;
        font-size: 14px
    }
    .menu{
        border-top: 2px solid grey;
    }
#about{
    

}